<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dboard.css">
    {{!-- <link rel="stylesheet" media="screen and (max-width: 768px)" href="./css/pmobile.css"> --}}
    
    <script src="https://kit.fontawesome.com/49ae0caa8c.js" crossorigin="anonymous"></script>
    <title> Dashboard | Project For Projects </title>
</head> 
<body>  
    <!-- Making this as a sidebar  -->
    <!-- <header id="nav-bar">
        <div>
            <h1 class="logo"><a href="index.html"><i class="fa-sharp fa-solid fa-bars-progress "></i> Project for Projects</a></h1>
        </div>
        <ul class="ul-design">
            <li><a href="#home" class="btn">Home</a></li>
            <li><a href="#menu" class="btn">Menu</a></li>
            <li><a href="#AboutUs" class="btn">About Us</a></li>
            <li><a href="./Login.html" class="btn">Login</a></li>
        </ul>

    </header>           -->
     <div class="navigation d-n">
        <header class="navbar" id="navib">
          <nav>
            <a href="./" class="logo">
              <img src="images/logo.jpg" />
            </a>
            <ul class="options">
              <li><a href="/" href="javascript:void(0)" style="text-decoration: none;"><i
                    class="fas fa-home"></i><span>Home</span></a>
              </li>
              <li><a href="#" class="active" href="javascript:void(0)" style="text-decoration: none;"><i
                    class="fas fa-pen"></i><span>My Projects</span></a>
              </li>
              <li><a href="/logout" href="javascript:void(0)" style="text-decoration: none;"><i class="fas fa-sign-out-alt"></i></a>
              </li>
              {{!-- <img src="images/brave.png" class="user-pic" style="margin-right: 40px;"> --}}
            </ul>
          </nav>
        </header>
    </div>  
    

    <div id="profile" class="profile">
        <img id="profile-img" src="/images/walchand_logo.png" alt="Profile">
        <h1 id="wc"></h1>
        <h3 id="name">{{proj.yname}}</h3>    
        <button class="edit-btn " onclick="edit()"><i class="fa-solid fa-pencil fa-3x"></i> </button>
        {{!-- <p id="about" >About him/her : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias dolorem, ipsa vero nihil recusandae delectus?</p> --}}
        <!-- <br> -->
        <p id="mail" >Email : <a href="mailto:{{proj.email}}">{{proj.email}}</a></p>
        {{!-- <div class="tooltip">Github</div> x --}}
        <!-- <span><i class="fa-brands fa-react"></i></span> -->
        <div class="github align-c">
        <a href="{{proj.socialink}}">
            <span class="c-1">
                <i class="fa-brands fa-github fa-2x"></i>
            </span>
        </a>
        <p class="pd-1 c-2">{{proj.socialink}}</p>
        <p class="c-2 pd-1"></p>
        </div>
        <div class="linkedIn align-c ">
            {{!-- <div class="tooltip">LinkedIn</div> --}}
                                <!-- <span><i class="fa-brands fa-react"></i></span> -->
            <a href="{{proj.socialink1}}">
            <span class="c-1">
                <i class="fa-brands fa-linkedin fa-2x"></i>
            </span>
            </a>
             <p class="pd-1 c-2">{{proj.socialink1}}</p>
        </div>
    </div>

    <div>
        <form id="form" class="profile">
            <h1 id="wc"></h1>
            <img id="fprofile" src="{{proj.myfile1}}" alt="Profile">
            <div class="input-container " id="name">
                <input id="pname" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="Name" class="placeholder">{{proj.yname}}</label>
              </div>
            <div class="input-container " id="email">
                <input id="email" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="email" class="placeholder">{{proj.email}}</label>
              </div>
            <div class="temp"><button disabled="disabled"></button></div> 
            {{!-- <div id="about" class="input-container">
                <textarea id="pabout" name="about" class="input" style="height:100px" placeholder=" "></textarea>
                <div class="cut cut-short"></div>
                <label for="about" class="placeholder">Enter About Yourself<label/>
            </div> --}}
            <button type="submit" class="edit btn" id="edit" >Submit</button>
        </form>
    </div>

    <div class="projects">
        <!-- no. of divs to be added according to DB -->
        <h2>My Projects</h2>
        <div class="flex-area">
        <div class="add-project">
            <a href="./form.html"><i class="fa-solid fa-plus fa-10x"></i> </a>
            <h4>Add Project</h4>
        </div>
        <div class="pr">

            <div class="box">
                <img src="{{proj.myfile1}}" alt="Project">
                <div class="text">
                    <h3>{{proj.title}}</h3>
                    <p>Tags : <a href="#">{{proj.technologies}}</a></p>
                </div>
            </div>

        </div>W
    </div>
    </div>

    {{!-- <script src="./js/main.js"></script> --}}
</body>
<script>
    // edit toggle 
function edit() {
    var x = document.getElementById("profile");
    var y = document.getElementById("form");

    if (x.style.display === "none" || y.style.display === "grid") {
      x.style.display = "grid";
      y.style.display = "none";
    } else {
      x.style.display = "none";
      y.style.display = "grid";
    }
  }
</script>
</html>